*}
*{pedding:0"}
margin:0;
  box-sizing:border-box;
html{heigh:100%}  
overflow:hidden;
body {background-color #e879f9}
   link {display:flex}
          flex-direction: row row-reverse
          margin: 20px;
          padding: 20px;
          font-size; 18px;}
          link a{text-docotation; none;}
              .color#025c5;}
             .link a:haver{color: #f9f9f9;}
              .link a:active{color: #f9f9f9;}
              .spece{ margin-left; 10px}
                ht{tex-align:centert}
                form{margin-top:20px}
                from
                      fflix-flow:columu
                    margin-top: 100px
}

   input{type="text"}
      border 0.5px solid #0250c5;
           with:0.5px soild #0250c5;
            height: 7vh;
            border-radius: 50px;
             font-size: 18px;
             backgroud-color: #f9f9f9;
                  
        
                

          link a:visited {color#1100ff}
           



i <
 <a href=